---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props;
---

<div {...props} class:list={["group/toggles", className]}>
    <slot />
</div>
