---
import { getRelativeLocaleUrl } from "astro:i18n";
import { inferSpecVersionFromPath } from "../../utils/path";
import * as Switcher from "../ui/switcher";

const locale = Astro.currentLocale ?? "en";
const pages = import.meta.glob("../../pages/**");
const specs: Array<Switcher.OptionItemType> = [];

for (const fileUri of Object.keys(pages)) {
	const urlPath = fileUri.replace("../../pages/", "");
	// Skipping the required `index.md` at the top level
	// to only handle localized paths
	if (urlPath === "index.md") {
		continue;
	}

	// Should only display specs that have been translated to the current locale
	if (!urlPath.startsWith(`${locale}/specs`)) {
		continue;
	}

	const specVersion = inferSpecVersionFromPath(urlPath);
	specs.push({
		href: getRelativeLocaleUrl(locale, `/specs/${specVersion}`),
		text: specVersion,
	});
}

const currentSpec = inferSpecVersionFromPath(Astro.url.pathname);
---

<div class="mb-4">
	<Switcher.Root>
		<Switcher.Trigger class="flex justify-between items-center w-full px-4 py-2 pr-3">
			<span>{currentSpec}</span>
			<svg
				class="w-4"
				stroke-width="2"
				viewBox="0 0 24 24"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				color="currentColor"
			>
				<path
					d="M6 9L12 15L18 9"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"></path>
			</svg>
		</Switcher.Trigger>

		<Switcher.Options items={specs} />
	</Switcher.Root>
</div>
