---

---

<div class="flex w-full border-b border-b-neutral-400 md:hidden">
    <button id="menu-trigger" class="flex w-full items-center justify-between px-4 py-2 text-left font-semibold">
        <span>Menu</span>
        <svg class="w-4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4.29289 8.29289C4.68342 7.90237 5.31658 7.90237 5.70711 8.29289L12 14.5858L18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289C20.0976 8.68342 20.0976 9.31658 19.7071 9.70711L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L4.29289 9.70711C3.90237 9.31658 3.90237 8.68342 4.29289 8.29289Z"
                fill="currentColor"></path>
        </svg>
    </button>
</div>

<script>
    const menuTriggerEl = document.querySelector<HTMLButtonElement>("#menu-trigger")!;
    const sidebarEl = document.querySelector<HTMLElement>("#toc-nav")!;
    menuTriggerEl.addEventListener("click", toggleMenu);

    sidebarEl.addEventListener("click", (e) => {
        if (menuTriggerEl.checkVisibility() && e.target instanceof HTMLAnchorElement) {
            toggleMenu();
        }
    });

    function toggleMenu() {
        const isVisible = !sidebarEl.classList.contains("hidden");

        if (isVisible) {
            sidebarEl.classList.add("hidden");
            document.body.classList.remove("overflow-hidden");
        } else {
            sidebarEl.classList.remove("hidden");
            document.body.classList.add("overflow-hidden");
        }
    }
</script>
