---
export type OptionItem = {
    text: string;
    href: string;
};

type Props = {
    class?: string;
    item: OptionItem;
};

const { item, class: className } = Astro.props;
---

<li class="w-full">
    <a
        class:list={["inline-block w-full bg-neutral-200 px-4 py-1 text-neutral-800 hover:bg-neutral-300", className]}
        href={item.href}
    >
        {item.text}
    </a>
</li>
