---
export type OptionItem = {
	text: string;
	href: string;
};

type Props = {
	class?: string;
	item: OptionItem;
};

const { item, class: className } = Astro.props;
---

<li class="w-full">
	<a
		class:list={[
			"py-1 px-4 text-neutral-800 bg-neutral-200 hover:bg-neutral-300 w-full inline-block",
			className,
		]}
		href={item.href}
	>
		{item.text}
	</a>
</li>
