---
type Props = {
    class?: string;
};

const { class: className } = Astro.props;
---

<div data-switcher class:list={["relative bg-inherit", className]}>
    <slot />
</div>

<script>
    const switchers = document.querySelectorAll<HTMLDivElement>("[data-switcher]");
    switchers.forEach((el) => {
        const switcherButton = el.querySelector("button")!;
        const listItems = el.querySelector("ul")!;
        let isOpen = false;

        switcherButton?.addEventListener("click", () => {
            isOpen = toggleSwitcher(switcherButton, listItems);
        });

        window.addEventListener("click", (e) => {
            if (!e.target) {
                return;
            }

            if (!el.contains(e.target as Node) && isOpen) {
                isOpen = toggleSwitcher(switcherButton, listItems);
            }
        });
    });

    function toggleSwitcher(buttonEl: HTMLButtonElement, itemsEl: HTMLUListElement) {
        const open = buttonEl.toggleAttribute("data-open");
        itemsEl.classList.toggle("hidden");
        return open;
    }
</script>
