---
import { GithubIcon, type IconProps } from "@components/icons";

type Props = {
    size?: IconProps["size"];
    class?: string;
};

const { class: className, size = 48 } = Astro.props;
---

<a href="https://github.com/bconf-lang/bconf" aria-label="bconf GitHub" class={className}>
    <GithubIcon size={size} />
</a>
