---
import { ChevronDownIcon } from "@components/ui/icons";
---

<button class:list={["group/trigger flex items-center gap-1 rounded-full bg-neutral-200 px-4 py-3 text-neutral-800"]}>
    <slot />
    <ChevronDownIcon class="mt-px transition-all group-data-[state=expanded]/switcher:rotate-180" />
</button>
