---
import "../styles/global.css";
import Header from "@components/header/Header.astro";

type Props = {
    title?: string;
    header?: boolean;
};

const { title, header } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{title ?? "bconf: For better configuration files"}</title>
        <slot name="head" />

        <script is:inline>
            let theme = localStorage.getItem("theme") ?? "device";
            if (!["device", "light", "dark"].includes(theme)) {
                theme = "device";
            }

            document.documentElement.setAttribute("data-theme", theme === "device" ? inferTheme() : theme);

            function inferTheme() {
                return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
            }
        </script>
    </head>

    <body class="relative bg-neutral-100 text-neutral-800 dark:bg-neutral-900 dark:text-neutral-100">
        {
            header && (
                <Header>
                    <slot name="after-header" />
                </Header>
            )
        }
        <slot />
    </body>
</html>
