---
import * as Theme from "@components/theme-selector";
import BaseShell from "./_base.astro";
import GitHubLink from "@components/GitHubLink.astro";
---

<BaseShell>
    <main class="p-8">
        <slot />
    </main>

    <footer class="bg-accent flex w-full items-center justify-between p-6 text-neutral-800">
        <Theme.Root class="rounded-full bg-neutral-200 p-1">
            <Theme.TogglesRoot class="flex gap-0.5">
                <Theme.AutoToggle />
                <Theme.LightToggle />
                <Theme.DarkToggle />
            </Theme.TogglesRoot>
        </Theme.Root>
        <p>Created by <a class="underline" href="https://brodz.dev">Brody Neumann</a></p>
        <GitHubLink />
    </footer>
</BaseShell>
